/* Universal Styles */
html {
  font-size: 16px;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #f2f2f2;
  text-align: center;
}

h1 {
  padding: 20px;
  color: white;
  font-size: 28px;
  text-align: center;
  font-family: Georgia;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

h2 {
  padding: 40px 20px 0 20px;
  font-size: 24px;
  text-align: center;
}

a {
  text-decoration: none;
}

p {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  text-align: justify;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 0;
  background-color: #fff;
  font-size: 14px;
  font-weight: 900;
}

.header li {
  display: inline-block;
  padding: 10px;
}

.header a {
  color: #4a4a4a;
}

a.home {
  color: #4d00ff;
}

/* Banner Section */
.banner {
  margin-top: 74px;
  padding: 40px 0 100px 0;
  background-color: #4d00ff;
}

.banner p {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #ffffff;
  font-weight: lighter;
  word-spacing: 0.25em;
  line-height: 1.4;
}

/* Editorial Sections */
.editorial {
  padding-bottom: 40px;
  color: #717171;
  font-family: "Trebuchet MS", "Times New Roman", serif;
}

/* Font Card Sections */
.font-card {
  padding: 10px 0 40px 0;
  background-color: #ffffff;
  text-align: center;
}

.font-card .creator {
  padding: 10px 20px;
  font-size: 16px;
  font-style: italic;
}

.sample {
  display: inline-block;
  padding: 5px 40px;
}

.sample .text {
  color: #4d00ff;
  font-size: 100px;
}

.garamond {
  font-family: Garamond;
}

.helvetica {
  font-family: Helvetica;
}

.space {
  font-family: "Space Mono", monospace;
}

.bold {
  font-weight: 900;
}

.regular {
  font-weight: normal;
}

.italic {
  font-weight: normal;
  font-style: italic;
}
